body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .4fr .2fr 1.5fr 1.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "h1 h1 h1 h1"
    "card1 card2 card3 card4"
    "card5 card6 card7 card8"
}

nav {
  background-color: green;
  grid-area: nav;
}

h1 {
  background-color: yellow;
  grid-area: h1;
}

#card1 {
  background-color: blue;
  grid-area: card1;
}

#card2 {
  background-color: purple;
  grid-area: card2;
}

#card3 {
  background-color: beige;
  grid-area: card3;

}

#card4 {
  background-color: orange;
  grid-area: card4;
}

#card5 {
  background-color: green;
  grid-area: card5;
}

#card6 {
  background-color: red;
  grid-area: card6;
}

#card7 {
  background-color: gold;
  grid-area: card7;
}

#card8 {
  background-color: pink;
  grid-area: card8;
}
